span.fus {display:none;}
body
	{
color:#FFFFFF;
background-color:#660022;
font-family:"Raleway";
padding:0px;
margin:0px;
}

.full { padding-left:0px;
	padding-right:0px;
}
.half {
	
padding-left:25%;
padding-right:25%;
	
}

ul.h { text-align: center;
list-style: none;
}
ul.h li { display:inline;
margin-right:2em;}

dt {	
	font-weight:bold;
	margin-top:2em;
	margin-bottom:0.5em;
	line-height: 1.7em;
}
dd {
	text-align:justify;
	margin-left:0px;
	line-height: 1.7em;
}
div.page
{		
padding-top:2%;
padding-bottom:2%;
border-bottom: solid #CC2244 1px;
margin-bottom:0px;
margin-top:0px;
}

div.mid
{
	background-color:#990033;
}
div.alt
{
	background-color:#CC2244;
}
h1	{
font-family: 'Fugaz One', cursive;
text-align:center;
text-transform: uppercase;
margin-top:0px;
padding-top:10%;
font-weight:normal;
font-size:48px;
background-color:#990033;
padding-bottom:6%;
border-bottom: solid #CC2244 1em;
margin-bottom:4%;
}
h2 	{
text-align:center;
font-weight:normal;
font-size:x-large;
padding-bottom:2%;
margin-top:2em;
border-bottom: 1px #CC2244 solid;
}
p 	{
text-align:justify;
font-weight:normal;
font-size:large;
margin-bottom:0px;
color:#CC9999;
line-height: 1.7em;
}

h3 	{
text-align:justify;
font-weight:normal;
font-size:24px;
margin-bottom:0px;
line-height: 1.7em;
font-family: 'Fugaz One', cursive;
text-align:center;
text-transform: uppercase;

}
h4 	{
text-align:center;
font-weight:normal;
font-size:12pt;
margin-bottom:0px;
}
a {
	text-decoration:none;
	color:#CC2222;
}
a.int {
	text-decoration:none;
	color:#CC2222;
}

a.int:hover {
	text-decoration:none;
	color:#FF3333;
}
a:hover {
	text-decoration:none;
	color:#FF3333;

}

abbr, acroymn
{
	border-bottom: 1px #CCCCCC dotted;
}

